# Ignoring tricky problems 
/practice/tricky/*

# Ignoring Implementation files
/practice/linkedlist/MainClass.java
/practice/stack/MainClass.java
/practice/queue/MainClass.java
/practice/dequeue/MainClass.java
/practice/trees/MainClass.java