# Ignoring tricky problems 
/practice/tricky/*

# Ignoring Implementation files
/practice/linkedlist/MyLinkedListImplementation.java
/practice/stack/MyStackImplementation.java
/practice/queue/MyQueueImplementation.java